### Import pakcage and load the data

In [1]:
import turicreate

In [2]:
sales = turicreate.SFrame('./data/home_data.sframe/')

In [3]:
sales.head(4)

Columns:
	id	str
	date	datetime
	price	float
	bedrooms	float
	bathrooms	float
	sqft_living	float
	sqft_lot	float
	floors	float
	waterfront	int
	view	int
	condition	int
	grade	float
	sqft_above	float
	sqft_basement	float
	yr_built	float
	yr_renovated	float
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 4

Data:
+------------+---------------------------+----------+----------+-----------+
|     id     |            date           |  price   | bedrooms | bathrooms |
+------------+---------------------------+----------+----------+-----------+
| 7129300520 | 2014-10-13 00:00:00+00:00 | 221900.0 |   3.0    |    1.0    |
| 6414100192 | 2014-12-09 00:00:00+00:00 | 538000.0 |   3.0    |    2.25   |
| 5631500400 | 2015-02-25 00:00:00+00:00 | 180000.0 |   2.0    |    1.0    |
| 2487200875 | 2014-12-09 00:00:00+00:00 | 604000.0 |   4.0    |    3.0    |
+------------+---------------------------+----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade |
+-------------+----------+--------+------------+------+-----------+-------+
|    1180.0   |  5650.0  |  1.0   |     0      |  0   |     3     |  7.0  |
|    2570.0   |  7242.0  |  2.0   |     0      |  0   |     3     |  7.0  |
|    770.0    | 10000.0  |  1.0   |     0      |  0   |     3     |  6.0  |
|    1960.0   |  5000.0  |  1.0   |     0      |  0   |     5     |  7.0  |
+-------------+----------+--------+------------+------+-----------+-------+
+------------+---------------+----------+--------------+---------+-------------+
| sqft_above | sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+------------+---------------+----------+--------------+---------+-------------+
|   1180.0   |      0.0      |  1955.0  |     0.0      |  98178  | 47.51123398 |
|   2170.0   |     400.0     |  1951.0  |    1991.0    |  98125  | 47.72102274 |
|   770.0    |      0.0      |  1933.0  |     0.0      |  98028  | 47.73792661 |
|   1050.0   |     910.0     |  1965.0  |     0.0      |  98136  |   47.52082  |
+------------+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -122.25677536 |     1340.0    | ... |
|  -122.3188624 |     1690.0    | ... |
| -122.23319601 |     2720.0    | ... |
| -122.39318505 |     1360.0    | ... |
+---------------+---------------+-----+
[4 rows x 21 columns]

In [4]:
sales.shape

(21613, 21)

###  Q1. Selection and summary statistics 

In the notebook we covered in the module, we discovered which neighborhood (zip code) of Seattle had the highest average house sale price.  
Now, take the sales data, select only the houses with this zip code, and compute the average price.  Save this result to answer the quiz at the end.

In [5]:
## find zipcode for which the mean price is highest
import turicreate.aggregate as agg

zipcode_mprice = sales.groupby(['zipcode'], 
                              operations={
                                'mean_price': agg.MEAN('price'), 
                              })
zipcode_mprice.sort('mean_price', ascending=False)

## the first line/row is our solution

Columns:
	zipcode	str
	mean_price	float

Rows: 70

Data:
+---------+--------------------+
| zipcode |     mean_price     |
+---------+--------------------+
|  98039  | 2160606.6000000006 |
|  98004  | 1355927.097791798  |
|  98040  | 1194230.0035460987 |
|  98112  | 1095499.3680297397 |
|  98102  | 901258.2380952381  |
|  98109  | 879623.6238532111  |
|  98105  | 862825.2314410481  |
|  98006  | 859684.7630522089  |
|  98119  | 849448.0108695652  |
|  98005  | 810164.8809523808  |
+---------+--------------------+
[70 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [6]:
## Select first row 
zipcode_mprice.sort('mean_price', ascending=False)[0]

{'zipcode': '98039', 'mean_price': 2160606.6000000006}

In [7]:
zipcode_highest_avg_price = zipcode_mprice.sort('mean_price', ascending=False)[0]['zipcode']
print(zipcode_highest_avg_price)

98039

In [8]:
## select all rows with zipcode == '98039'

sales_zhap = sales[sales['zipcode'] == zipcode_highest_avg_price]

In [9]:
sales_zhap.head(3)

Columns:
	id	str
	date	datetime
	price	float
	bedrooms	float
	bathrooms	float
	sqft_living	float
	sqft_lot	float
	floors	float
	waterfront	int
	view	int
	condition	int
	grade	float
	sqft_above	float
	sqft_basement	float
	yr_built	float
	yr_renovated	float
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 3

Data:
+------------+---------------------------+-----------+----------+-----------+
|     id     |            date           |   price   | bedrooms | bathrooms |
+------------+---------------------------+-----------+----------+-----------+
| 3625049014 | 2014-08-29 00:00:00+00:00 | 2950000.0 |   4.0    |    3.5    |
| 2540700110 | 2015-02-12 00:00:00+00:00 | 1905000.0 |   4.0    |    3.5    |
| 3262300940 | 2014-11-07 00:00:00+00:00 |  875000.0 |   3.0    |    1.0    |
+------------+---------------------------+-----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade |
+-------------+----------+--------+------------+------+-----------+-------+
|    4860.0   | 23885.0  |  2.0   |     0      |  0   |     3     |  12.0 |
|    4210.0   | 18564.0  |  2.0   |     0      |  0   |     3     |  11.0 |
|    1220.0   |  8119.0  |  1.0   |     0      |  0   |     4     |  7.0  |
+-------------+----------+--------+------------+------+-----------+-------+
+------------+---------------+----------+--------------+---------+-------------+
| sqft_above | sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+------------+---------------+----------+--------------+---------+-------------+
|   4860.0   |      0.0      |  1996.0  |     0.0      |  98039  | 47.61717049 |
|   4210.0   |      0.0      |  2001.0  |     0.0      |  98039  | 47.62060082 |
|   1220.0   |      0.0      |  1955.0  |     0.0      |  98039  | 47.63281908 |
+------------+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -122.23040939 |     3580.0    | ... |
|  -122.2245047 |     3520.0    | ... |
| -122.23554392 |     1910.0    | ... |
+---------------+---------------+-----+
[3 rows x 21 columns]

In [10]:
## Average price for zipcode '98039'

print(sales_zhap['price'].mean())

2160606.6000000006

### Q2. Filtering data

One of the key features we used in our model was the number of square feet of living space (‘sqft_living’) in the house. For this part, we are going to use the idea of filtering (selecting) data.

In particular, we are going to use logical filters to select rows of an SFrame. You can find more info in the [Logical Filter section of this documentation](https://turi.com/products/create/docs/generated/graphlab.SFrame.html).

Using such filters, first select the houses that have ‘sqft_living’ higher than 2000 sqft but no larger than 4000 sqft.
  
*Question*  
  - What fraction of the all houses have ‘sqft_living’ in this range? Save this result to answer the quiz at the end.

In [11]:
sales_2000_4000 = sales[(sales['sqft_living'] > 2000) & (sales['sqft_living'] < 4000)]

In [12]:
sales_2000_4000['sqft_living'].summary()

+--------------------+--------------------+----------+
|        item        |       value        | is exact |
+--------------------+--------------------+----------+
|       Length       |        9111        |   Yes    |
|        Min         |       2005.0       |   Yes    |
|        Max         |       3990.0       |   Yes    |
|        Mean        | 2669.7527164965436 |   Yes    |
|        Sum         |     24324117.0     |   Yes    |
|      Variance      | 250667.1469509676  |   Yes    |
| Standard Deviation |  500.666702458799  |   Yes    |
|  # Missing Values  |         0          |   Yes    |
|  # unique values   |        448         |    No    |
+--------------------+--------------------+----------+

Most frequent items:
+--------+-------+
| value  | count |
+--------+-------+
| 2100.0 |  116  |
| 2120.0 |  111  |
| 2020.0 |  104  |
| 2040.0 |  104  |
| 2240.0 |  101  |
| 2060.0 |  100  |
| 2080.0 |   98  |
| 2160.0 |   96  |
| 2090.0 |   95  |
| 2130.0 |   94  |
+--------+-------+

Quantiles:
+--------+--------+--------+--------+--------+--------+--------+--------+--------+
|   0%   |   1%   |   5%   |  25%   |  50%   |  75%   |  95%   |  99%   |  100%  |
+--------+--------+--------+--------+--------+--------+--------+--------+--------+
| 2005.0 | 2020.0 | 2050.0 | 2250.0 | 2560.0 | 3010.0 | 3670.0 | 3915.0 | 3990.0 |
+--------+--------+--------+--------+--------+--------+--------+--------+--------+

In [13]:
## including bounds

sales_eq_2000_4000 = sales[(sales['sqft_living'] >= 2000) & (sales['sqft_living'] <= 4000)]
sales_eq_2000_4000['sqft_living'].summary()

+--------------------+--------------------+----------+
|        item        |       value        | is exact |
+--------------------+--------------------+----------+
|       Length       |        9221        |   Yes    |
|        Min         |       2000.0       |   Yes    |
|        Max         |       4000.0       |   Yes    |
|        Mean        | 2663.281314391064  |   Yes    |
|        Sum         |     24558117.0     |   Yes    |
|      Variance      | 253988.90470344527 |   Yes    |
| Standard Deviation | 503.9731190286296  |   Yes    |
|  # Missing Values  |         0          |   Yes    |
|  # unique values   |        450         |    No    |
+--------------------+--------------------+----------+

Most frequent items:
+--------+-------+
| value  | count |
+--------+-------+
| 2100.0 |  116  |
| 2120.0 |  111  |
| 2020.0 |  104  |
| 2040.0 |  104  |
| 2000.0 |  103  |
| 2240.0 |  101  |
| 2060.0 |  100  |
| 2080.0 |   98  |
| 2160.0 |   96  |
| 2090.0 |   95  |
+--------+-------+

Quantiles:
+--------+--------+--------+--------+--------+--------+--------+--------+--------+
|   0%   |   1%   |   5%   |  25%   |  50%   |  75%   |  95%   |  99%   |  100%  |
+--------+--------+--------+--------+--------+--------+--------+--------+--------+
| 2000.0 | 2000.0 | 2040.0 | 2240.0 | 2550.0 | 3000.0 | 3670.0 | 3920.0 | 4000.0 |
+--------+--------+--------+--------+--------+--------+--------+--------+--------+

In [14]:
##  fraction of the all houses have ‘sqft_living’ in the range (2000, 4000)
sales_tot_num_rows = sales.shape[0]
sales_2000_4000.shape[0] / sales_tot_num_rows, sales_eq_2000_4000.shape[0] / sales_tot_num_rows

(0.4215518437977143, 0.4266413732475825)

Filtering data: What fraction of the houses have living space between 2000 sq.ft. and 4000 sq.ft.?

 - [ ] Between 0.2 and 0.29
 - [ ] Between 0.3 and 0.39
 - [x] Between 0.4 and 0.49
 - [ ] Between 0.5 and 0.59
 - [ ] Between 0.6 and 0.69

###  Q3. Building a regression model with several more features

In the sample notebook, we built two regression models to predict house prices:
 - one using just ‘sqft_living’ and 
 - the other one using a few more features, we called this set `my_features = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode']`
 
Now, going back to the original dataset, you will build a model using the following features:

```python
advanced_features = [
  'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode',
  'condition',     # condition of house				
  'grade',         # measure of quality of construction				
  'waterfront',    # waterfront property				
  'view',          # type of view				
  'sqft_above',    # square feet above ground				
  'sqft_basement', # square feet in basement				
  'yr_built',      # the year built				
  'yr_renovated',  # the year renovated				
  'lat', 'long',   # the lat-long of the parcel				
  'sqft_living15', # average sq.ft. of 15 nearest neighbors 				
  'sqft_lot15',    # average lot size of 15 nearest neighbors 
]
```

 - Q3.1 Compute the *RMSE* (*root mean squared error*) on the **test_data** for the model using just *my_features*, and for the one using *advanced_features*.

**Remarks**: 
  1. Both models must be trained on the original sales train dataset, not the one filtered on `sqft_living`.
  1. When doing the train-test split, make sure you use `seed=0`, so you get the same training and test sets, and thus results, as we do.  
  1. In the module we discussed residual sum of squares (RSS) as an error metric for regression, but Turi Create uses root mean squared error (RMSE).  
     These are two common measures of error regression, and RMSE is simply the square root of the mean RSS: 
  
  $$RMSE = \sqrt{\frac{RSS}{N}}$$

  where N is the number of data points.  RMSE can be more intuitive than RSS, since its units are the same as that of the target column in the data, in our case the unit is dollars ($), and doesn't grow with the number of data points, like the RSS does.

<br/>

**Important note**: <br/>
When answering the question below using Turi Create, when you call the linear_regression.create() function, make sure you use the parameter `validation_set=None`, as done in the notebook you download above. When you use regression Turi Create, it sets aside a small random subset of the data to validate some parameters.
This process can cause fluctuations in the final RMSE, so we will avoid it to make sure everyone gets the same answer.

<br/>

  - Q3.2 What is the difference in RMSE between the model trained with my_features and the one trained with advanced_features?  
    Save this result to answer the quiz at the end.

In [15]:
## Train/Test set split
train_set, test_set = sales.random_split(.8, seed=0)

train_set.shape, test_set.shape

((17384, 21), (4229, 21))

In [16]:
my_features = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode']

advanced_features = [*my_features, 
                     'condition',     # condition of house				
                     'grade',         # measure of quality of construction
                     'waterfront',    # waterfront property
                     'view',          # type of view
                     'sqft_above',    # square feet above ground
                     'sqft_basement', # square feet in basement
                     'yr_built',      # the year built
                     'yr_renovated',  # the year renovated
                     'lat', 'long',   # the lat-long of the parcel
                     'sqft_living15', # average sq.ft. of 15 nearest neighbors 
                     'sqft_lot15',    # average lot size of 15 nearest neighbors 
]

len(my_features), len(advanced_features)

(6, 18)

In [17]:
my_features_model = turicreate.linear_regression.create(train_set, target='price', features=my_features, 
                                                        validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 6

Number of unpacked features : 6

Number of coefficients    : 75

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------------------------+

| Iteration | Passes   | Elapsed Time | Training Max Error | Training Root-Mean-Square Error |

+-----------+----------+--------------+--------------------+---------------------------------+

| 1         | 2        | 1.047194     | 4086543.315840     | 189216.804808                   |

+-----------+----------+--------------+--------------------+---------------------------------+

SUCCESS: Optimal solution found.

In [18]:
advanced_features_model = turicreate.linear_regression.create(train_set, target='price', features=advanced_features,
                                                               validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 18

Number of unpacked features : 18

Number of coefficients    : 87

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------------------------+

| Iteration | Passes   | Elapsed Time | Training Max Error | Training Root-Mean-Square Error |

+-----------+----------+--------------+--------------------+---------------------------------+

| 1         | 2        | 0.013717     | 4336058.938762     | 162392.982702                   |

+-----------+----------+--------------+--------------------+---------------------------------+

SUCCESS: Optimal solution found.

In [19]:
## Compute the RMSE for my_features_model
##
## cf. https://apple.github.io/turicreate/docs/api/generated/turicreate.linear_regression.LinearRegression.evaluate.html#turicreate.linear_regression.LinearRegression.evaluate
## use RMSE 

res_my_features_model = my_features_model.evaluate(test_set)
print(res_my_features_model)

{'max_error': 3152242.7848689524, 'rmse': 180439.07296640746}

In [20]:
## Compute the RMSE for advanced_features_model

res_advanced_features_model = advanced_features_model.evaluate(test_set)
print(res_advanced_features_model)

{'max_error': 3170363.181384689, 'rmse': 155269.65792803015}

In [21]:
## Difference in RMSE between the model trained with my_features and the one trained with advanced_features

diff_r = res_my_features_model['rmse'] - res_advanced_features_model['rmse']
print(f"diff: {diff_r:5.3f}")

diff: 25169.415

Building a regression model with several more features:  
  What is the difference in RMSE between the model trained with my_features and the one trained with advanced_features?

 - [ ] the RMSE of the model with advanced_features lower by less than \\$25,000
 - [x] the RMSE of the model with advanced_features lower by between \\$25,001 and \\$35,000
 - [ ] the RMSE of the model with advanced_features lower by between \\$35,001 and \\$45,000
 - [ ] the RMSE of the model with advanced_features lower by between \\$45,001 and \\$55,000
 - [ ] the RMSE of the model with advanced_features lower by more than \\$55,000

**Note** 'autograder' answer is expecting a difference less than \$$25,000.

cf. [Wrong answer in the final Week 2 Quiz](https://www.coursera.org/learn/ml-foundations/discussions/weeks/2/threads/_LsAHd5oEeqXNhLj2fFeZQ)